 
  <div class="center">
    <div class="text-center">
      <div class="container"> 
          <div class="row">
              <div class="jumbotron"><h2>仕事、学業で生じる課題を手順ごとに細かく分けて完成させよう</h2></div>
              <div class= "col-sm-12 jumbotron">
                  <div class="row" >
                      <div class="col-sm-5"><p>アカウントをお持ちの方</p></div>
                      <div class="col-sm-5"><a href="">Signup_now</a></div>
                  </div>
                  <div class="row">
                      <div class="col-sm-5"><p>アカウントをお持ちでいない方</p></div>
                      <div class="col-sm-5"><a href="">Login</a></div>
                  </div>
              </div>
          </div>
      </div>    
    </div>
  </div>





